@import './base.scss';

/*************
	HTML Elements
*************/
html, body {
  height: 100%;
  padding: 0 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
h1 {
	font-size: $h1;
}
h2 {
	font-size: $h2;
}
h3 {
	font-size: $h3;
}
a {
  color: $grey;
  transition: $transition;
  text-decoration: none;
}
a:hover {
  color: $linkHover;
  text-decoration: underline;
}

/*****************
	UI Styling
*****************/
.loading--container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: $py-3;
}